
.attention {
    color: #ff0000;
    font-size: 12px;
    line-height: 14px;
    margin: 0 0;
    padding-top: 2px;
    padding-left: 10px;
    word-break: break-all;
    white-space: pre-line;
}

.button--quiet {
    font-size: 16px;
    line-height: 22px;
}

.app-version {
    position: absolute;
    bottom: 0;
    right: 1px;
}

.ons-icon--ion {
    vertical-align: -15%;
}

.close-btn {
    height: 44px;
    width: 56px;
    margin: auto 0 auto auto;
}
