/* CSS Document */

/* --------------------
         top
-------------------- */


/* topPageHeader */
header#topPageHeader {
	display: table;
	width: 320px;
	margin: 0 auto;
	text-align: left;
}

header#topPageHeader h1,
header#topPageHeader div.logo {
	display: table-cell;
	width: 230px;
	vertical-align: middle;
	
}

header#topPageHeader p.menuBtn {
	display: table-cell;
	width: 170px;
	text-align: right;
	vertical-align: middle;
}


header#topPageHeader p.menuBtn a {
	display: table;
	margin: 9px 10px 0 auto;
	padding: 5px 6px 4px 25px;
	border: solid 1px #E1E1E1;
	color: #E75613;
	font-size: 14px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #E6B49C;	
	-moz-box-shadow: 1px 2px 2px #CCC;
	-webkit-box-shadow: 1px 2px 2px #CCC;
	box-shadow: 1px 2px 2px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(../../common/images/icon_menu.png) no-repeat 7px center, -moz-linear-gradient(top, #FFF, #FFF 45%, #EDEDED 55%, #EDEDED);
	background: url(../../common/images/icon_menu.png) no-repeat 7px center, -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
	background: url(../../common/images/icon_menu.png) no-repeat 7px center, linear-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));
}


/* topPageFooter */
footer#topPageFooter {
	width: 100%;
}

footer#topPageFooter ul.reserveLink {
	width: 100%;
	padding: 15px 0;
	background: #F5F3EB;
}

footer#topPageFooter ul.reserveLink li {
	margin: 0 10px;
	background: #FFF;
	border: solid 1px #999;
	border-top: none;
}

footer#topPageFooter ul.reserveLink li:first-of-type {
	border-top: solid 1px #999;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}

footer#topPageFooter ul.reserveLink li:last-of-type {
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer#topPageFooter ul.reserveLink li a {
	display: block;
	margin: 0 10px;
	padding: 14px 10px 12px 0;
	background: url(../../common/images/arw02.png) no-repeat right center;
	text-align: left;	
	color:#666;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #CCC;
}

footer#topPageFooter ul.btnSNS {
	display: table;
	width: 300px;
	margin: 15px auto 12px auto;
}

footer#topPageFooter ul.btnSNS li {
	display: table-cell;
	width: 50%;
	border: solid 1px #999;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	text-align: center;
	vertical-align: top;

	background: -moz-linear-gradient(top, #FFF, #F0F0F0);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#F0F0F0));　
	background: linear-gradient(linear, left top, left bottom, from(#FFF), to(#F0F0F0));
}

footer#topPageFooter ul.btnSNS li:first-of-type {
	border-right: none;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

footer#topPageFooter ul.btnSNS li:last-of-type {
	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

footer#topPageFooter ul.btnSNS li a {
	display: block;
	padding: 40px 1px 4px 1px;
	color: #666;
	font-size: 12px;
	line-height: 1.2;
	text-decoration: none;
}


footer#topPageFooter ul.btnSNS li:first-of-type a {
	background: url(../../common/images/icon_twitter.png) no-repeat center 5px;
}

footer#topPageFooter ul.btnSNS li:last-of-type a {
	background: url(../../common/images/icon_mail.png) no-repeat center 5px;
}

footer#topPageFooter ul.bottomLink {
	width: 320px;
	margin: 0 auto;
}

footer#topPageFooter ul.bottomLink li {
	display: inline;
}

footer#topPageFooter ul.bottomLink li a {
	padding: 0 5px;
	border-left: solid 1px #666;
	color: #666;
	font-size: 12px;
	line-height: 1.2;
	text-decoration: underline;
}

footer#topPageFooter ul.bottomLink li:first-of-type a {
	border-left: none;
}

footer#topPageFooter p.copyright {
	width: 100%;
	margin: 15px 0 0 0;
	padding: 12px 0 10px 0;
	background: #F5F3EB;
	font-size: 12px;
	line-height: 1.2;
	font-weight: bold;
}

/* mainVisual */

#contents.top div.news {
	width: 100%;
	margin: 0px 0px 20px 0px;
	margin: 8px 0 8px 0;
	background: #FDEAEB;
	border: solid 2px #ED1D2A;
	font-size: 80%;
	line-height: 1.5;
	text-align: center;
}

#contents.top div.news span.red {
		color:#ED1C29;
		text-align: center;
}

#contents.top div.news span.bold{
	color:#ED1C29;
	text-align: center;
}


#contents.top section.mainVisual {
	width: 100%;
	height: 266px;
	/* background: url(../images/main_visual_bg.gif) no-repeat center top;*/
	background: #AAF;
}

#contents.top section.mainVisual div.inner {
	position: relative;
	width: 300px;
	margin: 0 auto;
	padding: 5px 0 0 0;
	text-align: left;
}

#contents.top section.mainVisual #view {
	position: absolute;
	left: 7px;
	top: 5px;
}

#contents.top section.mainVisual #tabBtn {
	display: table;
	position: absolute;
	left: 13px;
	top: 242px;
}

#contents.top section.mainVisual #tabBtn li {
	display: table-cell;
	width: 60px;
	padding: 0 10px 0 0;
}

#contents.top section.mainVisual #tabBtn li span {
	display: block;
	text-align: center;
	border: solid 1px #FFF;
	color:#FFF;
	font-size: 16px;
	line-height: 1.05;
	text-shadow: 0 0 2px #7FC6E8;
	font-weight: bold;
}

#contents.top section.mainVisual #tabBtn li.active span {
	color: #008DD1;
	background: #FFF;
}

#contents.top section.mainVisual div.img {
	position: absolute;
	left: 220px;
	top: 105px;
}


/* btn */
section.btn {
	width: 100%;
	background: #F6F3EC;
}

section.btn ul.search {
	width: 300px;
	margin: 0 auto;
	text-align: left;
}

section.btn ul.search li {
	width: 298px;
	margin: 0 0 0 2px;
/*}

section.btn ul.search li a {*/
	display: block;
	margin: 0 2px 0 0;
	padding: 11px 0 10px 0px;
	color: #FFF;
	font-size: 24px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #CCC;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: url(../../common/images/icon_search01.png) no-repeat 35px center, url(../../common/images/arw01.png) no-repeat 275px center, -moz-linear-gradient(top, #F47920, #F47920 45%, #E75613 55%, #E75613);
	background: url(../../common/images/icon_search01.png) no-repeat 35px center, url(../../common/images/arw01.png) no-repeat 275px center, -webkit-gradient(linear, left top, left bottom, from(#F47920), color-stop(0.45, #F47920), color-stop(0.55, #E75613), to(#E75613));　
	background: url(../../common/images/icon_search01.png) no-repeat 35px center, url(../../common/images/arw01.png) no-repeat 275px center, linear-gradient(linear, left top, left bottom, from(#F47920), color-stop(0.45, #F47920), color-stop(0.55, #E75613), to(#E75613));　
}

section.btn ul.price {
	display: table;
	width: 300px;
	margin: 8px auto 0 auto;
	text-align: left;
}

section.btn ul.price li:first-of-type {
	display: table-cell;
	padding: 0 0 5px 2px;
}

section.btn ul.price li:last-of-type {
	display: table-cell;
	padding: 0 2px 5px 0;
	text-align: right;
}

section.btn ul.price li a {
	display: block;
	width: 140px;
	padding: 13px 1px 11px 1px;
	text-align: center;
	color: #E75613;
	font-size: 17px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #E6B49C;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px #E1E1E1;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: -moz-linear-gradient(top, #FFF, #FFF 45%, #EDEDED 55%, #EDEDED);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
	background: linear-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
}

section.btn ul.price li:firsr-of-type a {
	margin: 0 auto 0 0;
}

section.btn ul.price li:last-of-type a {
	margin: 0 0 0 auto;
}

section.btn ul.price2 {
	display: table;
	width: 300px;
	margin: 8px auto 0 auto;
	text-align: left;
}

section.btn ul.price2 li:first-of-type {
	display: table-cell;
	padding: 0 0 5px 2px;
}

section.btn ul.price2 li:last-of-type {
	display: table-cell;
	padding: 0 2px 5px 0;
	text-align: right;
}

section.btn ul.price2 li a {
	display: block;
	width: 297px;
	padding: 13px 1px 11px 1px;
	text-align: center;
	color: #E75613;
	font-size: 17px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #E6B49C;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: solid 1px #E1E1E1;
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background: -moz-linear-gradient(top, #FFF, #FFF 45%, #EDEDED 55%, #EDEDED);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
	background: linear-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
}

section.btn ul.price2 li:firsr-of-type a {
	margin: 0 auto 0 0;
}

section.btn ul.price2 li:last-of-type a {
	margin: 0 0 0 auto;
}


/* reserve */
section.reserve {
	padding: 10px 0 20px 0;
	background: #F6F3EC;
}

section.reserve h2 {
	width: 300px;
	margin: 0 auto;
	padding: 9px 0 4px 0;
	background: #95CF23;
	color: #FFF;
	font-size: 18px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 2px #CCC;
}

section.reserve ul.btn01 {
	width: 294px;
	margin: 0 auto;
	padding: 0 0 12px 0;
	border: solid 3px #95CF23;
	background: #FFF;
	text-align: left;
}

section.reserve ul.btn01 li {
	width: 270px;
	margin: 0 0 0 12px;
	padding: 12px 0 0 0;
}

section.reserve ul.btn01 li.reserve a {
	display: block;
	padding: 12px 0 12px 0;
	text-align: center;
	
	color: #FFF;
	font-size: 22px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 2px #CCC;
	
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: url(../../common/images/arw01.png) no-repeat 250px center, url(../../top_common/images/btn_bg.gif) repeat left center,  -moz-linear-gradient(top, #56AC00, #56AC00 45%, #389800 55%, #389800);
	background: url(../../common/images/arw01.png) no-repeat 250px center, url(../../top_common/images/btn_bg.gif) repeat left center,  -webkit-gradient(linear, left top, left bottom, from(#56AC00), color-stop(0.45, #56AC00), color-stop(0.55, #389800), to(#389800));　
	background: url(../../common/images/arw01.png) no-repeat 250px center, url(../../top_common/images/btn_bg.gif) repeat left center,  linear-gradient(linear, left top, left bottom, from(#56AC00), color-stop(0.45, #56AC00), color-stop(0.55, #389800), to(#389800));　
}

section.reserve ul.btn01 li.login a {
	display: block;
	padding: 7px 0 6px 0;
	text-align: center;
	position: relative;
	
	color: #FFF;
	font-size: 20px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 2px #CCC;
	
	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	
	background: url(../../common/images/arw01.png) no-repeat 250px center, url(../../top_common/images/btn_bg.gif) repeat left center,  -moz-linear-gradient(top, #56AC00, #56AC00 45%, #389800 55%, #389800);
	background: url(../../common/images/arw01.png) no-repeat 250px center, url(../../top_common/images/btn_bg.gif) repeat left center,  -webkit-gradient(linear, left top, left bottom, from(#56AC00), color-stop(0.45, #56AC00), color-stop(0.55, #389800), to(#389800));　
	background: url(../../common/images/arw01.png) no-repeat 250px center, url(../../top_common/images/btn_bg.gif) repeat left center,  linear-gradient(linear, left top, left bottom, from(#56AC00), color-stop(0.45, #56AC00), color-stop(0.55, #389800), to(#389800));　
}

section.reserve ul.btn01 li.login a span {
	display: block;
	font-size: 60%;
	font-weight: normal;
}

section.reserve ul.btn01 li.member {
	display: table;
	width: 270px;
	padding: 23px 0 9px 0;
	background: url(../images/btn_bg_member.gif) no-repeat left top;
}

section.reserve ul.btn01 li.member span.membership {
	display: table-cell;
	vertical-align: middle;
}

section.reserve ul.btn01 li.member span.membership a {
	display: table;
	margin: 3px auto 0 10px;
	color: #000;
	font-size: 15px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none; 
	text-shadow: 0 0 1px #CCC;
}

section.reserve ul.btn01 li.member span.membership a span {
	font-size: 26px;
}

section.reserve ul.btn01 li.member span.touroku {
	display: table-cell;
	vertical-align: middle;
}

section.reserve ul.btn01 li.member span.touroku a {
	display: table;
	margin: 0 10px 0 auto;
	padding: 6px 6px 4px 33px;
	
	color: #E75613;
	font-size: 14px;
	line-height: 1.05;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #CCC;

	border: solid 1px #E1E1E1;

	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background: url(../../common/images/icon_member01.png) no-repeat 6px center, -moz-linear-gradient(top, #FFF, #FFF 45%, #EDEDED 55%, #EDEDED);
	background: url(../../common/images/icon_member01.png) no-repeat 6px center, -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
	background: url(../../common/images/icon_member01.png) no-repeat 6px center, linear-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));
}

section.reserve ul.btn01 li.tel a {
	display: block;
	padding: 13px 0 11px 75px;
	
	color: #389800;
	font-size: 20px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #CCC;

	border: solid 1px #E1E1E1;

	-moz-box-shadow: 2px 2px 2px #CCC;
	-webkit-box-shadow: 2px 2px 2px #CCC;
	box-shadow: 2px 2px 2px #CCC;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background: url(../../common/images/icon_tel.png) no-repeat 36px center, -moz-linear-gradient(top, #FFF, #FFF 45%, #EDEDED 55%, #EDEDED);
	background: url(../../common/images/icon_tel.png) no-repeat 36px center, -webkit-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));　
	background: url(../../common/images/icon_tel.png) no-repeat 36px center, linear-gradient(linear, left top, left bottom, from(#FFF), color-stop(0.45, #FFF), color-stop(0.55, #EDEDED), to(#EDEDED));
}

section.reserve ul.btn02 {
	width: 294px;
	margin: 10px auto 0 auto;
	border: solid 3px #C8BA7A;
	background: #FFF;
	text-align: left;
}

section.reserve ul.btn02 li {
	width: 270px;
	margin: 0 0 0 12px;
}

section.reserve ul.btn02 li a {
	display: block;
	padding: 7px 0 6px 12px;
	color: #666;
	font-size: 14px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #CCC;
	background: url(../../common/images/arw02.png) no-repeat left center;
}


/* linkMenu */
section.linkMenu {
	background: #FFF;
}

section.linkMenu ul li {
	width: 100%;
	border-bottom: solid 1px #E1E1E1;
	vertical-align: middle;
}

section.linkMenu ul li:first-of-type  {	
	border-top: solid 1px #E1E1E1;
}

section.linkMenu ul li a {
	display: block;
	margin: 0 10px;
	padding: 14px 10px 12px 30px;
	text-align: left;	
	color:#666;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 1px #CCC;
}

section.linkMenu ul li.icon01 a {
	background: url(../../common/images/icon_benefit.png) no-repeat left center, url(../../common/images/arw02.png) no-repeat right center;
}

section.linkMenu ul li.icon02 a {
	background: url(../../common/images/icon_service.png) no-repeat left center, url(../../common/images/arw02.png) no-repeat right center;
}

section.linkMenu ul li.icon03 a {
	background: url(../../common/images/icon_support.png) no-repeat left center, url(../../common/images/arw02.png) no-repeat right center;
}

section.linkMenu ul li.icon04 a {
	background: url(../../common/images/icon_agreement.png) no-repeat left center, url(../../common/images/arw02.png) no-repeat right center;
}


/* campaign */
section.campaign {
	background: #F6F3EC;
	text-align: left;
}

section.campaign div.ttlBar {
	display: table;
	width: 100%;
	background: -moz-linear-gradient(top, #FF9900, #E96E32);
	background: -webkit-gradient(linear, left top, left bottom, from(#FF9900), to(#E96E32));　
	background: linear-gradient(linear, left top, left bottom, from(#FF9900), to(#E96E32));
}

section.campaign div.ttlBar h2 {
	display: table-cell;
	width: 64%;
	vertical-align: middle;
}

section.campaign div.ttlBar h2 span {
	display: block;
	margin: 0 5px 0 10px;
	padding: 12px 0 11px 0;
	border-right: solid 1px #F7A85E;	
	color: #FFF;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 1px #CCC;
}

section.campaign div.ttlBar p {
	display: table-cell;
	width: 36%;
	vertical-align: middle;
}

section.campaign div.ttlBar p a {
	display: block;
	margin: 0 10px 0 0;
	padding: 5px 27px 5px 3px;
	background: url(../../common/images/icon_view01.png) no-repeat right center;
	text-align: right;
	
	color: #FFF;
	font-size: 14px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 1px #CCC;
	text-decoration: none;
}

section.campaign ul li {
	padding: 15px 10px;
	border-top: dotted 1px #666;
}

section.campaign ul li:first-of-type  {	
	border-top: none;
}

section.campaign ul li a {
	display: table;
	width: 100%;
	color: #666;
	text-decoration: none;
}

section.campaign ul li a span.banner {
	display: table-cell;
	width: 200px;
	vertical-align: top;
}

section.campaign ul li a span.banner img {
	border: solid 1px #E1E1E1;
}

section.campaign ul li a span.txt {
	display: table-cell;
	vertical-align: top;
	font-size: 14px;
	line-height: 1.4;
	font-weight: bold;
}

section.campaign ul li a span.date {
	display: block;
	margin: 5px 0 0 0;
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
}





/* topics */
section.topics {
	background: #F6F3EC;
}

section.topics div.ttlBar {
	display: table;
	width: 100%;
	background: -moz-linear-gradient(top, #EAE6CD, #D1C68F);
	background: -webkit-gradient(linear, left top, left bottom, from(#EAE6CD), to(#D1C68F));　
	background: linear-gradient(linear, left top, left bottom, from(#EAE6CD), to(#D1C68F));
}

section.topics div.ttlBar h2 {
	display: table-cell;
	width: 64%;
	vertical-align: middle;
}

section.topics div.ttlBar h2 span {
	display: block;
	margin: 0 5px 0 10px;
	padding: 12px 0 11px 0;
	border-right: solid 1px #B5A871;
	text-align: left;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 1px #CCC;
}

section.topics div.ttlBar p {
	display: table-cell;
	width: 36%;
	vertical-align: middle;
}

section.topics div.ttlBar p a {
	display: block;
	margin: 0 10px 0 0;
	padding: 5px 27px 5px 3px;
	background: url(../../common/images/icon_view02.png) no-repeat right center;
	text-align: right;
	
	color: #666;
	font-size: 14px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 1px #CCC;
	text-decoration: none;
}

section.topics ul {
	text-align: left;
}

section.topics ul li {
	padding: 12px 0 10px 0;
	border-top: dotted 1px #666;
}

section.topics ul li:first-of-type  {	
	border-top: none;
}

section.topics ul li a {
	display: block;
	margin: 0 10px;
	color: #666;
	text-decoration: none;
}

section.topics ul li a span.date {
	display: block;
	font-size: 12px;
	line-height: 1.4;
}

section.topics ul li a span.date img.icon {
	margin: 0 5px 0 0;
	vertical-align: text-bottom
}

section.topics ul li a span.ttl {
	display: block;
	margin: 3px 0 0 0;
	font-size: 14px;
	line-height: 1.3;
}

/* faq */
section.faq {
	background: #F6F3EC;
}

section.faq div.ttlBar {
	width: 100%;
	background: -moz-linear-gradient(top, #EAE6CD, #D1C68F);
	background: -webkit-gradient(linear, left top, left bottom, from(#EAE6CD), to(#D1C68F));　
	background: linear-gradient(linear, left top, left bottom, from(#EAE6CD), to(#D1C68F));
}

section.faq div.ttlBar h2 a {
	display: block;
	margin: 0 10px;
	padding: 12px 27px 11px 0;
	background: url(../../common/images/icon_view02.png) no-repeat right center;
	text-align: left;
	
	color: #666;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 1px #CCC;
	text-decoration: none;
}

section.faq dl {
	width: 300px;
	margin: 0 auto;
	padding: 15px 0 0 0;
	text-align: left;
}

section.faq dl dt {
	font-size: 12px;
	line-height: 1.1;
}

section.faq dl dd {
	display: table !important;
	width: 100% !important;
	margin: 4px 0 0 0 !important;
}

section.faq dl dd span {
	display: table-cell !important;
	vertical-align: middle !important;
}

section.faq dl dd span:last-of-type {
	text-align: right !important;

}

section.faq dl dd input[type="text"] {
	width: 198px !important;
	margin: 0 auto 0 0 !important;
	padding: 3px 0 4px 22px !important;
	background: url(../../common/images/icon_search03.gif) no-repeat 5px center #FFF !important;
	border: solid 1px #999 !important;
	color: #666 !important;
	font-size: 14px !important;
	line-height: 1.1 !important;
	font-weight: bold !important;
}

section.faq dl dd input[type="submit"] {
	width: 68px !important;
	margin: 0 0 0 auto !important;
	padding: 4px 0 4px 0 !important;
	background: #FFF !important;
	border: solid 1px #999 !important;
	font-size: 14px !important;
	line-height: 1.1 !important;
	font-weight: bold !important;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px;	color: #666 !important;
	background: -moz-linear-gradient(top, #F9F9F9, #D5D5D5) !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#D5D5D5)) !important;
	background: linear-gradient(linear, left top, left bottom, from(#F9F9F9), to(#D5D5D5)) !important;
}

section.faq p.YahooURL {
	width: 300px !important;
	margin: 0 auto !important;
	padding: 0 0 15px 0 !important;
	text-align: left !important;
}

section.faq p.YahooURL a {
	color: #999 !important;
	font-size: 10px !important;
	line-height: 1.2 !important;
}

section.faq p.script {
	height: 1px;
	overflow: hidden;
}

/* tweet */
section.tweet{
	background: #FFFFFF;
}

section.tweet div.ttlBar {
}

section.tweet div.ttlBar h2 a {
	display: block;
	margin: 0 10px;
	padding: 12px 27px 11px 0;
	background: url() no-repeat right center;
	text-align: left;
	
	color: #666;
	font-size: 16px;
	line-height: 1.1;
	font-weight: bold;
	text-shadow: 0 0 1px #CCC;
	text-decoration: none;
}

section.tweet dl {
	width: 300px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	text-align: center;
}

section.tweet dl dt {
	font-size: 12px;
	line-height: 1.1;
}

section.tweet dl dd {
	display: table !important;
	width: 100% !important;
	margin: 15px 0 0 0 !important;
}

section.tweet dl dd span {
	display: table-cell !important;
	vertical-align: middle !important;
}

section.tweet dl dd span:last-of-type {
	text-align: right !important;

}




















